## Tuples

In [4]:
t = (1,2,3,4)
print(type(t))
print(t)
print(t[0])
print(t[-1])

<class 'tuple'>
(1, 2, 3, 4)
1
4

In [5]:
t[0] = 10  # This will raise an error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [6]:
t2 = (5,) # single element tuple
print(type(t2))

print(t2)

<class 'tuple'>
(5,)

In [8]:
t1 = (1,2,3)
t2 = (4,5,6)

# Concatenation
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [9]:
nums = (10, 20, 30, 40, 50)
for num in nums:
    print(num)
print(len(nums))

10
20
30
40
50
5

In [14]:
t = (1,2,3,4,2,2,22)

print(t.count(2))
print(t.index(22))
print(t.index(2)) # first occurrence of 2

3
6
1